<h1><%= @user.first_name %> <%= @user.last_name %>'s Profile</h1>

<div class="row">
  <% if @user.profile_pic.present? %>
    <img src="<%= @user.profile_pic %>" alt="Profile Picture" class="img-thumbnail" style="float: left; margin-right: 10px;">
  <% end %>
  <h2>User Information:</h2>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Major:</strong> <%= @user.major %></p>
</div>

<div>
  <h2>Course History:</h2>
  <% if @course_enrollments.any? %>
    <table class="table table-striped col-md-12" id="enrolled_courses">
      <thead>
      <tr>
        <th>Course</th>
        <th>Year</th>
        <th>Grade</th>
      </tr>
      </thead>
      <tbody>
      <% @course_enrollments.each do |enrollment| %>
        <tr>
          <td><%= enrollment.course.course_number %></td>
          <td><%= enrollment.year %></td>
          <td><%= enrollment.grade %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No course history available.</p>
  <% end %>
</div>

<div>
  <h2>Course Recommendations:</h2>
  <%= form_tag user_recommendations_path(@user), method: :get do %>
    <div class="form-group">
      <label for="recommendation_count">Number of Recommendations:</label>
      <input type="number" id="recommendation_count" name="recommendation_count" value="5" class="form-control" min="1">
    </div>
    <%= submit_tag 'Get Recommendations', class: 'btn btn-primary' %>
  <% end %>
</div>
