<div class="container mt-4">
  <h1><%= @user.first_name %> <%= @user.last_name %>'s Profile</h1>

  <div class="row mt-3">
    <% if @user.profile_pic.present? %>
      <div class="col-md-2">
        <img src="<%= @user.profile_pic %>" alt="Profile Picture" class="img-thumbnail">
      </div>
    <% end %>
    <div class="col-md-10">
      <h2>User Information:</h2>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <p><strong>Major:</strong> <%= @user.major %></p>
    </div>
  </div>

  <div class="mt-3">
  <h2>Course History:</h2>
  <% if @course_enrollments.any? %>
    <table class="table table-striped" id="enrolled_courses">
      <thead>
        <tr>
          <th>Course</th>
          <th>Year</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        <% @course_enrollments.each_with_index do |enrollment, index| %>
          <tr class="<%= 'course-row' if index >= 5 %>">
            <td><%= enrollment.course.course_number %></td>
            <td><%= enrollment.year %></td>
            <td><%= enrollment.grade %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @course_enrollments.size > 5 %>
      <p id="toggle_courses" onclick="toggleCourses()" style="cursor:pointer;">
        Show More
      </p>
    <% end %>
  <% else %>
    <p>No course history available.</p>
  <% end %>
  
  <script>
    function toggleCourses() {
      var rows = document.querySelectorAll('.course-row');
      for (var i = 0; i < rows.length; i++) {
        rows[i].style.display = rows[i].style.display === 'none' ? '' : 'none';
      }
      var toggleText = document.getElementById('toggle_courses');
      toggleText.textContent = toggleText.textContent === 'Show More' ? 'Show Less' : 'Show More';
    }
  
    // Initially hide rows if more than 5 courses
    document.addEventListener('DOMContentLoaded', (event) => {
      if (document.querySelectorAll('.course-row').length > 0) {
        toggleCourses();
      }
    });
  </script>
  
  </div>

  <div class="mt-3">
  <h2>Course Recommendations:</h2>
  <%= form_tag user_recommendations_path(@user), method: :get do %>
    <div class="form-group">
      <label for="recommendation_count">Number of Recommendations:</label>
      <input type="number" id="recommendation_count" name="recommendation_count" value="5" class="form-control" min="1">
    </div>
    <%= submit_tag 'Get Recommendations', class: 'btn btn-primary' %>
  <% end %>
</div>

</div>
