<h2>Sign Up</h2>
<%= flash[:error] unless flash[:error].blank? %>

<%= form_tag users_path, :class => 'form' do %>
  <%= label :user, :email, 'Email', :class => 'col-form-label' %>
  <%= text_field :user, :email, :class => 'form-control' %>
  <%= label :user, :password, 'Password', :class => 'col-form-label' %>
  <%= password_field :user, :password, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Submit', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', new_session_path, :class => 'btn btn-secondary' %>
<% end %>
