<!--  This file is app/views/courses/index.html.erb -->
<h2>All Courses</h2>

<%= form_tag courses_path, method: :get, class: 'form-inline' do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search for courses' %>
  </div>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<table class="table table-striped col-md-12" id="courses">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Instructor</th>
      <th>Offering Term</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= course.course_number + " " + course.course_title %>
        </td>
        <td>
          <%= course.instructor %>
        </td>
        <td>
          <%= course.offering_term %>
        </td>
        <td>
          <%= link_to "More about #{course.course_title}", course_path(course)%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new course', new_course_path, :class => 'btn btn-primary' %>
