<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 2: Start here... %>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th>Movie Title</th>
      <th>Description</th>
      <th>Offering Term</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= course.name %>
        </td>
        <td>
          <%= course.description %>
        </td>
        <td>
          <%= course.offering_term %>
        </td>
        <td>
          <%= link_to "More about #{course.name}", course_path(course)%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_course_path, :class => 'btn btn-primary' %>
