<!-- app/views/courses/show.html.erb -->
<h2>Details about <em><%= @course.course_title %></em></h2>

<ul id="details">
  <li>
    Course Number:
    <%= @course.course_number %>
  </li>
  <li>
    Offering Term:
    <%= @course.offering_term %>
  </li>
  <li>
    Midterm:
    <%= @course.midterm == 1 ? 'Yes' : 'No' %>
  </li>
  <li>
    Project:
    <%= @course.project == 1 ? 'Yes' : 'No' %>
  </li>
  <li>
    Instructor:
    <%= @course.instructor %>
  </li>
  <li>
    Time:
    <%= @course.time %>
  </li>
  <li>
    Days:
    <%= @course.days %>
  </li>
  <li>
    Website:
    <%= link_to @course.website, @course.website %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  <%= "Course descriptions go here" %>
</p>

<div class="row">
  <% if session[:user_id].present? %>
    <%= link_to 'Add to Enrolled Courses', add_to_enrolled_course_path(@course), class: 'btn btn-success col-3' %>
  <% end %>

  <%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-primary col-3' %>
  <%= link_to 'Delete', course_path(@course), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', class: 'btn btn-danger col-3' %>
  <%= link_to 'Back to course list', courses_path, class: 'btn btn-primary col-3' %>
</div>
