<%# Our "base" layout should be a valid HTML document. %>
<!DOCTYPE html>
<html>
  <head>
    <title> CourseCompass </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= asset_path 'application.css' %>">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%# These classes come from the Bootstrap CSS framework. %>
    <nav role="navigation" class="navbar navbar-expand-lg bg-warning text-black mb-3">
      <h1 class="title">Course Compass</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <p><%= link_to "Profile", profiles_path(id: session[:user_id]), class: "nav-link text-dark" %></p>
          </li>
          <li class="nav-item">
            <p><%= link_to "Courses", courses_path, class: "nav-link text-dark" %></p>
          </li>
          <li class="nav-item">
            <% if session[:user_id] %>
              <p><%= link_to "Log Out", logout_path, method: :delete, class: "nav-link text-dark" %></p>
            <% else %>
              <p><%= link_to "Log In", login_path, class: "nav-link text-dark" %></p>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <%= render 'layouts/flash' %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
